<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Entropi Solutions</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Playfair+Display:wght@500;700&family=Poppins:wght@500&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/Stylesheets/styles.css">
    <link rel="icon" href="/Photos/entropi logo 2.png">
</head>

<body>
    <header>
        <div class="nav">
            <input type="checkbox" id="nav-check">
            <div class="nav-header">
                <div class="nav-title">
                    <a href="#"><img src="/Photos/entropi logo 2.png" alt="Entropi logo" />
                        <p>ENTROPI</p>
                    </a>
                </div>
            </div>
            <div class="nav-btn">
                <label for="nav-check">
                    <img src="/Photos/hamburger-menu.svg" alt="hamburger-menu">
                </label>
            </div>
            <div class="nav-links">
                <a href="#Us">
                    <p class="underline">About Us</p>
                </a>
                <a href="#Services">
                    <p class="underline">Our Services</p>
                </a>
                <a href="#Experience">
                    <p class="underline">Experience</p>
                </a>
                <a href="#Showcase">
                    <p class="underline">Showcase</p>
                </a>
                <a href="#">
                    <p class="underline">Contact Us</p>
                </a>
            </div>
        </div>
        <div class="wrapper">
            <div class="hero-section">
                <div class="left" id="hero-blur">
                    <h3>― Experience The Exclusivity</h3>
                    <h1>Entropi Solutions</h1>
                    <p>Fueling Success with Precision: Crafting Tailored Tech Solutions for Your Business Growth.</p>
                </div>
                <div class="left">
                    <a class="btn btn--changeGradient" href="#Contact-us">Get Free Estimation</a>
                </div>
            </div>
        </div>
    </header>



    <section id="Us">
        <div class="wrapper2">
            <h2>About Us</h2>
            <div class="bubbles">
                <div class="container">
                    <div class="container-item" id="vision">
                        <h3>Vision</h3>
                        <p>We exist to redefine how technology transforms businesses, by delivering tailored solutions
                            that
                            empower success. We live by the creed that every client deserves curated,
                            opportunity-maximizing
                            solutions.</p>
                    </div>
                    <div class="vertical-break"></div>
                    <div class="container-item" id="why">
                        <h3>Why</h3>
                        <p>Our 'why' is deeply rooted in our journey of reimagining tech solutions. Founded by industry
                            professionals who witnessed the pitfalls of over-engineered and costly approaches, our
                            company
                            was born out of a vision for simplicity and precision. We understand the need for 'PB&J
                            solutions,' where the focus is on delivering exactly what's necessary, efficiently and
                            affordably. This conviction solidified as we recognized the industry's thirst for precision
                            and speed, propelling us to redefine the future of technology solutions.</p>
                    </div>
                    <div class="vertical-break"></div>
                    <div class="container-item" id="mission">
                        <h3>Mission</h3>
                        <p>We are committed to collaborating with forward-thinking organizations and visionary leaders,
                            leveraging technology as a catalyst for innovation. Our core focus is on design excellence,
                            which allows us to create customized technology solutions that precisely align with our
                            clients'
                            strategic goals. We continually set and exceed benchmarks of success, delivering real-world,
                            measurable impact that leads our clients towards a future defined by progress, efficiency,
                            and
                            lasting value.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <section id="Services">
        <div class="wrapper3">
            <h2>Our Services</h2>
        </div>
        <div class="container-services">
            <!-- card element -->
            <div class="container-item underline2">
                <img src="/Photos/saas.jpg" />
                <h4 class="card-heading">SaaS Development</h4>
                <p class="card-text">Leveraging our team of seasoned coders, engineers and project managers, we
                    deliver an unparalleled client experience, by understanding the specific industry needs of our
                    partners and tailoring personalized solutions that scale and deliver results.
                </p>
            </div>

            <div class="container-item underline2">
                <img src="/Photos/product management.jpg" alt="icon" />
                <h4 class="card-heading">Product Management</h4>
                <p class="card-text">We’re here for you every step of the way. From product inception and
                    integration, to scalability and course corrections. Our project managers work closely and
                    diligently with our clients to ensure systems are working properly, effectively, and evolving
                    with your business.
                </p>
            </div>

            <div class="container-item underline2">
                <img src="/Photos/softare consulting.jpg" alt="icon" />
                <h4 class="card-heading">Software Consulting</h4>
                <p class="card-text">The world of SaaS can be confusing, and that’s what we are here for. We help
                    our clients navigate the intricacies of the space, and provide proven data backed suggestions
                    that keep your business growing.
                </p>
            </div>

            <div class="container-item underline2">
                <img src="/Photos/cloud.jpg" alt="icon" />
                <h4 class="card-heading">Cloud Computing</h4>
                <p class="card-text">Weaponize your data with cloud solutions that securely and reliably store and
                    interpret user information in real time.</p>
            </div>

            <div class="container-item underline2">
                <img src="/Photos/automation.jpg" alt="icon" />
                <h4 class="card-heading">Automation Tools</h4>
                <p class="card-text">Maximize your time, efficiency, and resources through our automation suite that make busy work a thing of the past.
                </p>
            </div>

            <div class="container-item underline2">
                <img src="/Photos/design.jpg" alt="icon" />
                <h4 class="card-heading">Intentional Design</h4>
                <p class="card-text">We pride ourselves in knowing your business inside and out, and design
                    solutions catered to the specific needs of your ever shifting industry landscape.</p>
            </div>

        </div>
    </section>


    <section id="Experience">
        <div class="wrapper-industry">
            <div class="industry-cards-collage">
                <div id="collage-part1">
                    <div class="industry-card">
                        <img src="/Photos/8666647_heart_icon.png" alt="">
                        <h4>Medical Industry</h4>
                        <p>In the realm of healthcare, Entropi has developed a precise network of systems that
                            streamline
                            insurance claims, billables, and payments through intuitive dashboards. We bring innovation
                            to
                            healthcare operations, ensuring better accuracy, efficient tracking, and seamless UI/UX.
                        </p>
                    </div>

                    <div class="industry-card">
                        <img src="/Photos/cart.png" alt="">
                        <h4>Ecommerce</h4>
                        <p>Entropi offers cutting-edge solutions in the form of online stores, e-commerce apps, vendor
                            applications, POS systems, CRM platforms, and more. Leveraging IT technologies, we assist in
                            revolutionizing the fast-moving consumer goods industry, providing seamless, innovative, and
                            integrated solutions. </p>
                    </div>
                </div>

                <div id="collage-part2">
                    <div class="industry-card">
                        <img src="/Photos/industry.png" alt="">
                        <h4>Industrial</h4>
                        <p>We specialize in optimizing processes, enhancing efficiency, and providing real-time
                            insights.
                            From customizing inventory management systems to implementing responsive production
                            dashboards,
                            our expertise empowers industries to operate at peak performance.</p>
                    </div>

                    <div class="industry-card">
                        <img src="/Photos/tshirt.png" alt="">
                        <h4>Apparel</h4>
                        <p>Our expertise extends to crafting tailored solutions that address the unique challenges of
                            this
                            dynamic sector. From intuitive inventory management systems to responsive e-commerce
                            platforms,
                            we empower apparel businesses to navigate the intricacies of design, production, and
                            distribution seamlessly. </p>
                    </div>
                </div>
            </div>

            <div class="industry-right">
                <h2>Industry Experience</h2>
                <p>At Entropi, our industry experience is a testament to our deep-rooted understanding and proficiency
                    in providing tailored tech solutions and SaaS services. Our journey is marked by successfully
                    navigating diverse industries, each with its own unique challenges and opportunities.
                    <br>
                    Our portfolio is not just a showcase of projects; it's a narrative of success stories in industries
                    that were perhaps behind the ball in technology adoption. We excel in creating the exact tools
                    needed for success, offering simplicity, efficiency, and speed.
                </p>
            </div>
        </div>
    </section>


<!-- 
    <section id="Showcase">
        <h2>Showcase</h2>
        <main>

            <div id="carousel">

                <div class="hideLeft">
                    <img src="Photos/Untitled design/1.png">
                </div>

                <div class="prevLeftSecond">
                    <img src="Photos/Untitled design/2.png">
                </div>

                <div class="prev">
                    <img src="Photos/Untitled design/4.png">
                </div>

                <div class="selected">
                    <img src="Photos/Untitled design/3.png">
                </div>

                <div class="next">
                    <img src="Photos/Untitled design/5.png">
                </div>

                <div class="nextRightSecond">
                    <img src="Photos/Untitled design/6.png">
                </div>

                <div class="hideRight">
                    <img src="https://i1.sndcdn.com/artworks-000064920701-xrez5z-t500x500.jpg">
                </div>

            </div>

            <div class="carousel-buttons">
                  <button id="prev"></button>
                  <button id="next">></button>
                </div>

        </main>
    </section> -->

    <section id="Contact-us">
        <div class="form">
            <h2>Connect With Our Team!</h2>
            <p>Ready to explore opportunities? Connect with a member of our sales team to discuss how we can help your
                company thrive and grow. Let's chart the path to success together.
            </p>
            <form action="/" method="post">
                <div class="row-form" >
                    <input type="text" name="name" placeholder="Your Name"></input>
                    <input type="text" name="company" placeholder="Company Name"></input>
                </div>
                <input type="text" name="number" placeholder="Your Phone Number"></input>
                <input type="text" name="email" placeholder="Your Email ID"></input>
                <input type="text" name="website" placeholder="Compnay Website"></input>
                <button id="contact-button" type="submit">Request a call</button>
            </form>
        </div>
    </section>


    <footer>
        <div class="link-container">
            <img src="/Photos/xxx.png" />
            <p>Entropi is a tech consulting and SaaS development company that focuses on creating tailored solutions to
                solve complex problems. We provide simple, scalable, client-maximizing solutions that incorporate the
                latest technologies.</p>
        </div>
        <div class="link-container">
            <h4>Contact Us</h4>
            <ul>
                <li>
                    <a
                        href="https://www.google.com/maps/place/521+E+14th+Ave+%2319,+Denver,+CO+80203,+USA/@39.7385625,-104.9829862,17z/data=!3m1!4b1!4m6!3m5!1s0x876c7ed4afb7ef8f:0x1b24dec9c37376fe!8m2!3d39.7385625!4d-104.9804113!16s%2Fg%2F11n_yxgbg0?entry=ttu">521
                        East 14th Avenue Unit 19, Denver, CO 80203</a>
                </li>
                <li>
                    <a href="mailto:info@entropisolutions.io">info@entropisolutions.io</a>
                </li>
                <li>
                    <a href="#">Other media sites (coming later)</a>
                </li>
            </ul>
        </div>
        <div class="link-container">
            <h4>Quick links</h4>
            <ul>
                <li>
                    <a href="#Us">About Us</a>
                </li>
                <li>
                    <a href="#Services">Services</a>
                </li>
                <li>
                    <a href="#Experience">Industry Experience</a>
                </li>
            </ul>
        </div>
        <!-- <div class="link-container">
            <h4>Support</h4>
            <ul>
                <li>
                    <a href="#">Privacy Policy</a>
                </li>
                <li>
                    <a href="#">Terms of Use</a>
                </li>
            </ul>
        </div> -->
    </footer>
    <script src='https://code.jquery.com/jquery-2.2.4.min.js'></script>
    <script src="Stylesheets/main.js"></script>

</body>

</html>