<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Entropi Solutions</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Playfair+Display:wght@500;700&family=Poppins:wght@500&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/Stylesheets/styles.css">
    <link rel="icon" href="/Photos/entropi logo 2.png">
</head>

<body>
    <header>
        <div class="nav">
            <input type="checkbox" id="nav-check">
            <div class="nav-header">
                <div class="nav-title">
                    <a href="#"><img src="/Photos/entropi logo 2.png" alt="Entropi logo" />
                        <p>ENTROPI</p>
                    </a>
                </div>
            </div>
            <div class="nav-btn">
                <label for="nav-check">
                    <img src="/Photos/hamburger-menu.svg" alt="hamburger-menu">
                </label>
            </div>
            <div class="nav-links">
                <a href="#Us">
                    <p class="underline">About Us</p>
                </a>
                <a href="#Services">
                    <p class="underline">Our Services</p>
                </a>
                <a href="#Experience">
                    <p class="underline">Industry Experience</p>
                </a>
                <a href="#Experience">
                    <p class="underline">Our Commitment to You</p>
                </a>
                <a href="#Showcase">
                    <p class="underline">Showcase</p>
                </a>
                <a href="#">
                    <p class="underline">Contact Us</p>
                </a>
            </div>
        </div>
        <div class="wrapper">
            <div class="hero-section">
                <div class="left" id="hero-blur">
                    <!-- <h3>― Experience The Exclusivity</h3> -->
                    <h1>Entropi Solutions</h1>
                    <p>Fueling Success with Intention: Curated Tech Solutions Built by Your Business, for Your Business</p>
                </div>
                <div class="left">
                    <a class="btn btn--changeGradient" href="#Contact-us">Get Free Estimation</a>
                </div>
            </div>
        </div>
    </header>



    <!-- <section id="Us">
        <div class="wrapper2">
            <h2>About Us</h2>
            <div class="bubbles">
                <div class="container">
                    <div class="container-item" id="vision">
                        <h3>Vision</h3>
                        <p>We exist to redefine how technology transforms businesses, by delivering tailored solutions
                            that
                            empower success. We live by the creed that every client deserves curated,
                            opportunity-maximizing
                            solutions.</p>
                    </div>
                    <div class="vertical-break"></div>
                    <div class="container-item" id="why">
                        <h3>Why</h3>
                        <p>Our 'why' is deeply rooted in our journey of reimagining tech solutions. Founded by industry
                            professionals who witnessed the pitfalls of over-engineered and costly approaches, our
                            company
                            was born out of a vision for simplicity and precision. We understand the need for 'PB&J
                            solutions,' where the focus is on delivering exactly what's necessary, efficiently and
                            affordably. This conviction solidified as we recognized the industry's thirst for precision
                            and speed, propelling us to redefine the future of technology solutions.</p>
                    </div>
                    <div class="vertical-break"></div>
                    <div class="container-item" id="mission">
                        <h3>Mission</h3>
                        <p>We are committed to collaborating with forward-thinking organizations and visionary leaders,
                            leveraging technology as a catalyst for innovation. Our core focus is on design excellence,
                            which allows us to create customized technology solutions that precisely align with our
                            clients'
                            strategic goals. We continually set and exceed benchmarks of success, delivering real-world,
                            measurable impact that leads our clients towards a future defined by progress, efficiency,
                            and
                            lasting value.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section> -->

    <div class="us">
        <div class="vision-wrapper">
            <div class="left">
                <h2>Custom Technology to <br><strong>Enhance Your Business</strong></h2>
                <p>We deliver <strong>ground up software solutions </strong>tailored to the specifications of your business needs.<br> Growth should not be hindered by access, and we believe every client deserves the tools to <strong>maximize their success.</strong></p>
            </div>
        </div>
        <img src="Photos/partnership.svg" alt="">
    </div>

    <section id="Services">
        <div class="wrapper3">
            <h2>Our Services</h2>
        </div>
        <div class="container-services">
            <!-- card element -->
            <div class="container-item underline2">
                <img src="/Photos/saas.jpg" />
                <h4 class="card-heading">Software Development</h4>
                <p class="card-text">Leveraging our team of seasoned coders, engineers and project managers, we
                    deliver an unparalleled client experience, by understanding the specific industry needs of our
                    partners and tailoring personalized solutions that scale and deliver results.
                </p>
            </div>

            <div class="container-item underline2">
                <img src="/Photos/product management.jpg" alt="icon" />
                <h4 class="card-heading">Product Management</h4>
                <p class="card-text">We’re here for you every step of the way. From product inception and
                    integration, to scalability and course corrections. Our project managers work closely and
                    diligently with our clients to ensure systems are working properly, effectively, and evolving
                    with your business.
                </p>
            </div>

            <div class="container-item underline2">
                <img src="/Photos/softare consulting.jpg" alt="icon" />
                <h4 class="card-heading">Software Consulting</h4>
                <p class="card-text">The world of software solutions can be confusing, and that’s what we are here for. We help our clients navigate the intricacies of the space, and provide proven data backed suggestions that keep your business growing.
                </p>
            </div>

            <div class="container-item underline2">
                <img src="/Photos/cloud.jpg" alt="icon" />
                <h4 class="card-heading">Cloud Computing</h4>
                <p class="card-text">Weaponize your data with cloud solutions that securely and reliably store and
                    interpret user information in real time.</p>
            </div>

            <div class="container-item underline2">
                <img src="/Photos/automation.jpg" alt="icon" />
                <h4 class="card-heading">Automation Tools</h4>
                <p class="card-text">Maximize your time, efficiency, and resources through our automation suite that
                    make busy work a thing of the past.
                </p>
            </div>

            <div class="container-item underline2">
                <img src="/Photos/design.jpg" alt="icon" />
                <h4 class="card-heading">Intentional Design</h4>
                <p class="card-text">We pride ourselves in knowing your business inside and out, and design
                    solutions catered to the specific needs of your ever shifting industry landscape.</p>
            </div>

        </div>
    </section>


    <section id="Experience">
        <div class="bubbles">
        <div class="wrapper-industry">
            <!-- Dropdown -->
            <ul id="accordion" class="accordion">
                <li>
                  <div class="link"><i class="fa-solid fa-heart" style="color: #ee1169;"></i>&nbsp; Medical Industry<i class="fa fa-chevron-down"></i></div>
                  <ul class="submenu">
                    <li><a href="javascript:void(0);">Our team streamlines insurance claims, billables, and payments through intuitive software. We bring innovation to healthcare operations, ensuring better accuracy, efficient tracking, and seamless user experience.</a></li>
                  </ul>
                </li>
                <li>
                  <div class="link"><i class="fa-solid fa-industry" style="color: #B197FC;"></i>&nbsp;Industrial<i class="fa fa-chevron-down"></i></div>
                  <ul class="submenu">
                    <li><a href="javascript:void(0);">We optimize processes, enhance efficiency, and provide real-time insights. From customizing inventory management systems to implementing responsive production dashboards, our tools will help you reach peak performance.
                    </a></li>
                  </ul>
                </li>
                <li>
                  <div class="link"><i class="fa-solid fa-cart-shopping" style="color: #3aa283;"></i>&nbsp;Ecommerce<i class="fa fa-chevron-down"></i></div>
                  <ul class="submenu">
                    <li><a href="javascript:void(0);">Solutions for online stores, web apps, vendor applications, POS systems, CRM platforms, and more. Leveraging IT technologies, we provide seamless, innovative, and integrated solutions.
                    </a></li>
                  </ul>
                </li>
                <li>
                  <div class="link"><i class="fa-solid fa-shirt" style="color: #0849ba;"></i>&nbsp;Apparel<i class="fa fa-chevron-down"></i></div>
                  <ul class="submenu">
                    <li><a href="javascript:void(0);">From intuitive inventory management systems to responsive e-commerce platforms, we empower apparel businesses to navigate the intricacies of design, production, and distribution seamlessly.
                    </a></li>
                  </ul>
                </li>
                <li>
                    <div class="link"><i class="fa-solid fa-house" style="color: #646262;"></i>&nbsp;Real Estate<i class="fa fa-chevron-down"></i></div>
                    <ul class="submenu">
                      <li><a href="javascript:void(0);">Leveraging new technologies, our offerings span dynamic property management systems, insightful market analysis dashboards, web scraping platforms, and tailored innovative tools to meet the unique demands of real estate.

                      </a></li>
                    </ul>
                  </li>
              </ul>
            <!-- Industry right -->
            <div class="industry-right">
                <h2>Industry Experience</h2>
                <p>At Entropi, our industry experience is a testament to our deep-rooted understanding and proficiency
                    in providing tailored tech solutions and SaaS services. Our journey is marked by successfully
                    navigating diverse industries, each with its own unique challenges and opportunities.
                    <br>
                    <br>
                    Our portfolio is not just a showcase of projects; it's a narrative of success stories in industries
                    that were perhaps behind the ball in technology adoption. We excel in creating the exact tools
                    needed for success, offering simplicity, efficiency, and speed.
                </p>
            </div>
        </div>
    </div>
    </section>


    <section id="Commitment">
        <div class="commitment-card">
            <h3>Our Commitment to you</h3>
            <p>We are committed to collaborating with forward-thinking organizations and visionary leaders; leveraging technology as a catalyst for innovation. Our core focus is on design excellence, which allows us to create customized technology solutions that precisely align with your strategic goals. We continually set and exceed benchmarks of success, delivering real-world, measurable impacts that lead our clients towards a future defined by progress, efficiency, and lasting value.
            </p>
        </div>
    </section>



    <section id="Showcase">
        <h2>Showcase</h2>
        <main>

            <div id="carousel">

                <div class="hideLeft">
                    <img src="Photos/Untitled design/4.png">
                </div>

                <div class="prevLeftSecond">
                    <img src="Photos/Untitled design/2.png">
                </div>

                <div class="prev">
                    <img src="Photos/Untitled design/3.png">
                </div>

                <div class="selected">
                    <img src="Photos/Untitled design/1.png">
                </div>

                <div class="next">
                    <img src="Photos/Untitled design/5.png">
                </div>

                <div class="nextRightSecond">
                    <img src="Photos/Untitled design/6.png">
                </div>

                <!-- <div class="hideRight">
                    <img src="https://i1.sndcdn.com/artworks-000064920701-xrez5z-t500x500.jpg">
                </div> -->

            </div>

            <!-- <div class="carousel-buttons">
                  <button id="prev"></button>
                  <button id="next">></button>
                </div> -->

        </main>
    </section>


    <!-- <section class="testimonials">
        <h2>Testimonials</h2>
        <div>
            <ul id="testimonials-ul">
                <li>
                    <img src="Photos/8666647_heart_icon.png" alt="">
                    <p>Hashtag bespoke YOLO, put a bird on it hammock polaroid wayfarers tattooed neutra squid
                        lumbersexual meh humblebrag VHS. Cred tumblr cold-pressed messenger bag small batch trust fund,
                        mustache next level. Keytar swag kogi viral waistcoat flexitarian.</p>
                    <small>Some dude</small>
                </li>
                <li>
                    <img src="Photos/8666647_heart_icon.png" alt="">
                    <p>Readymade fashion axe chia, deep v photo booth gochujang jean shorts asymmetrical XOXO you
                        probably haven't heard of them locavore heirloom kale chips dreamcatcher. </p>
                    <small>Some guy</small>
                </li>
                <li>
                    <img src="Photos/8666647_heart_icon.png" alt="">
                    <p>Put a bird on it austin jean shorts direct trade cornhole, sriracha street art. Keytar craft beer
                        kitsch polaroid, affogato tofu vinyl butcher.</p>
                    <small>Some other guy</small>
                </li>
                <li>
                    <img src="Photos/8666647_heart_icon.png" alt="">
                    <p>Hashtag bespoke YOLO, put a bird on it hammock polaroid wayfarers tattooed neutra squid
                        lumbersexual meh humblebrag VHS. Cred tumblr cold-pressed messenger bag small batch trust fund,
                        mustache next level. Keytar swag kogi viral waistcoat flexitarian.</p>
                    <small>Some dude</small>
                </li>
            </ul>
        </div>
        <div class="testimonials-control">
            <i class="fa fa-angle-left fa-2x" id="testimonials-l"></i>
            <i class="fa fa-angle-right fa-2x" id="testimonials-r"></i>
        </div>
    </section> -->


    <section id="Contact-us">
        <div class="form">
            <h2>Connect With Our Team!</h2>
            <p>Ready to explore opportunities? Connect with a member of our sales team to discuss how we can help your
                company thrive and grow. Let's chart the path to success together.
            </p>
            <form action="/" method="post">
                <div class="row-form">
                    <input type="text" name="name" placeholder="Your Name"></input>
                    <input type="text" name="company" placeholder="Company Name"></input>
                </div>
                <input type="text" name="number" placeholder="Your Phone Number"></input>
                <input type="text" name="email" placeholder="Your Email ID"></input>
                <input type="text" name="website" placeholder="Compnay Website"></input>
                <button id="contact-button" type="submit">Request a call</button>
            </form>
        </div>
    </section>


    <footer>
        <div class="link-container">
            <img id="image" src="/Photos/xxx.png" />
            <p>Entropi is a tech consulting and SaaS development company that focuses on creating tailored solutions to
                solve complex problems. We provide simple, scalable, client-maximizing solutions that incorporate the
                latest technologies.</p>
        </div>
        <div class="link-container">
            <h4>Contact Us</h4>
            <ul>
                <li>
                    <a
                        href="https://www.google.com/maps/place/521+E+14th+Ave+%2319,+Denver,+CO+80203,+USA/@39.7385625,-104.9829862,17z/data=!3m1!4b1!4m6!3m5!1s0x876c7ed4afb7ef8f:0x1b24dec9c37376fe!8m2!3d39.7385625!4d-104.9804113!16s%2Fg%2F11n_yxgbg0?entry=ttu">521
                        East 14th Avenue Unit 19, Denver, CO 80203</a>
                </li>
                <li>
                    <a href="mailto:info@entropisolutions.io">info@entropisolutions.io</a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/company/entropi-solutions/
                    "><img src="https://cdn-icons-png.flaticon.com/512/38/38669.png" alt="">Linkedin</a>
                </li>
            </ul>
        </div>
        <div class="link-container">
            <h4>Quick links</h4>
            <ul>
                <li>
                    <a href="#Us">About Us</a>
                </li>
                <li>
                    <a href="#Services">Services</a>
                </li>
                <li>
                    <a href="#Experience">Industry Experience</a>
                </li>
            </ul>
        </div>
        <!-- <div class="link-container">
            <h4>Support</h4>
            <ul>
                <li>
                    <a href="#">Privacy Policy</a>
                </li>
                <li>
                    <a href="#">Terms of Use</a>
                </li>
            </ul>
        </div> -->
    </footer>
    <script src='https://code.jquery.com/jquery-2.2.4.min.js'></script>
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js'></script>
    <script src="https://kit.fontawesome.com/118aeed2d2.js" crossorigin="anonymous"></script>
    <script src="Stylesheets/main.js"></script>

</body>

</html>