<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Entropi Solutions</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Playfair+Display:wght@500;700&family=Poppins:wght@500&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/Stylesheets/styles.css">
    <link rel="icon" href="/Photos/entropi logo 2.png">
</head>

<body>
    <div class="nav">
        <input type="checkbox" id="nav-check">
        <div class="nav-header">
            <div class="nav-title">
                <a href="/"><img src="/Photos/entropi logo 2.png" alt="Entropi logo" />
                    <p>ENTROPI</p>
                </a>
            </div>
        </div>
        <div class="nav-btn">
            <label for="nav-check">
                <img src="/Photos/hamburger-menu.svg" alt="hamburger-menu">
            </label>
        </div>
        <div class="nav-links">
            <a href="/#Us">
                <p class="underline">About Us</p>
            </a>
            <a href="/#Services">
                <p class="underline">Our Services</p>
            </a>
            <a href="/#Experience">
                <p class="underline">Industry Experience</p>
            </a>
            <a href="/#Commitment">
                <p class="underline">Our Commitment to You</p>
            </a>
            <a href="/#Showcase">
                <p class="underline">Showcase</p>
            </a>
            <a href="/Contact-us">
                <p class="underline">Contact Us</p>
            </a>
        </div>
    </div>


    <div class="privacy">

        <h3>Entropi LLC Terms of Service</h3>

        <p>By accessing the website of Entropi LLC, you warrant and represent to Entropi LLC that you are legally
            entitled to access the website and to use the information made available via the website.</p>

        <h4>Trademarks</h4>

        <p>The trademarks, names, logos, and service marks (collectively "Trademarks") displayed on this website are
            registered and unregistered Trademarks of Entropi LLC. Nothing contained on this website should be construed
            as granting any license or right to use any Trademark without the prior written permission of Entropi LLC.
        </p>

        <h4>External Links</h4>

        <p>External links may be provided for your convenience, but they are beyond the control of Entropi LLC and no
            representation is made as to their content. Use or reliance on any external links and the content thereon
            provided is at your own risk.</p>

        <h4>Warranties</h4>

        <p>Entropi LLC makes no warranties, representations, statements, or guarantees (whether express, implied in law,
            or residual) regarding the website.</p>

        <h4>Disclaimer of Liabilities</h4>

        <p>Entropi LLC shall not be responsible for and disclaims all liability for any loss, liability, damage (whether
            direct, indirect, or consequential), personal injury, or expense of any nature whatsoever which may be
            suffered by you or any third party (including your company) as a result of or which may be attributable,
            directly or indirectly, to your access and use of the website, any information contained on the website,
            your or your company's personal information, or material and information transmitted over our system.</p>

        <p>In particular, neither Entropi LLC nor any third party or data or content provider shall be liable in any way
            to you or to any other person, firm, or corporation whatsoever for any loss, liability, damage (whether
            direct or consequential), personal injury, or expense of any nature whatsoever arising from any delays,
            inaccuracies, errors in, or omission of any information or the transmission thereof, or for any actions
            taken in reliance thereon or occasioned thereby or by reason of non-performance, interruption, or
            termination thereof.</p>

        <p>Entropi LLC as a merchant shall be under no liability whatsoever in respect of any loss or damage arising
            directly or indirectly out of the decline of authorization for any transaction, on Account of the Cardholder
            having exceeded the preset limit mutually agreed by Entropi LLC with its acquiring bank from time to time.
        </p>

        <h4>Conflict of Terms</h4>

        <p>If there is a conflict or contradiction between the provisions of these website terms and conditions and any
            other relevant terms and conditions, policies, or notices, the other relevant terms and conditions,
            policies, or notices which relate specifically to a particular section or module of the website shall
            prevail in respect of your use of the relevant section or module of the website.
        </p>
        <h4>Severability</h4>

        <p>Any provision of any relevant terms and conditions, policies, and notices, which is or becomes unenforceable
            in any jurisdiction, whether due to being void, invalidity, illegality, unlawfulness, or for any reason,
            shall, in such jurisdiction only and only to the extent that it is so unenforceable, be treated as void and
            the remaining provisions of any relevant terms and conditions, policies, and notices shall remain in full
            force and effect.</p>

        <h4>Applicable Laws (Choice of Venue and Forum)</h4>

        <p>Use of this website shall in all respects be governed by the laws of the State of Colorado, United States of
            America, regardless of the laws that might be applicable under principles of conflicts of law. The parties
            agree that the courts located in Denver County, Colorado, shall have exclusive jurisdiction over all
            controversies arising under this agreement and agree that venue is proper in those courts.</p>

        <h4>Other Terms</h4>

        <p>Entropi LLC will not be liable for any credit card fraud. The liability of any Fraudulent Use of the card
            shall always be on the owner of the card unless proved otherwise. You represent and warrant that all details
            you provide to Entropi LLC for the purpose of ordering or purchasing services are true, accurate, current,
            and complete in all respects; and that the credit or debit card you are using is your own and that there are
            sufficient funds in your account to cover payment of the services ordered.</p>

        <p>These Conditions shall be governed by and construed in accordance with the laws of the State of Colorado,
            United States of America, and by using this website you irrevocably submit to the exclusive jurisdiction of
            the courts of Denver County, Colorado.</p>

        <p>If you have any questions, concerns, or complaints regarding these Terms of Service, you may contact Entropi
            LLC by email at <a href="mailto:info@entropisolutions.io">info@entropisolutions.io</a> or by phone at <a href="tel:+1970-275-4553">+1970-275-4553</a>.</p>
                </div>
                <footer>
                    <div class="link-container">
                        <img id="image" src="/Photos/xxx.png" />
                        <p>Entropi is a tech consulting and SaaS development company that focuses on creating tailored
                            solutions to
                            solve complex problems. We provide simple, scalable, client-maximizing solutions that
                            incorporate the
                            latest technologies.</p>
                    </div>
                    <div class="link-container">
                        <h4>Contact Us</h4>
                        <ul>
                            <li>
                                <a
                                    href="https://www.google.com/maps/place/521+E+14th+Ave+%2319,+Denver,+CO+80203,+USA/@39.7385625,-104.9829862,17z/data=!3m1!4b1!4m6!3m5!1s0x876c7ed4afb7ef8f:0x1b24dec9c37376fe!8m2!3d39.7385625!4d-104.9804113!16s%2Fg%2F11n_yxgbg0?entry=ttu">521
                                    East 14th Avenue Unit 19, Denver, CO 80203</a>
                            </li>
                            <li>
                                <a href="mailto:info@entropisolutions.io">info@entropisolutions.io</a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/company/entropi-solutions/
                    "><img src="https://cdn-icons-png.flaticon.com/512/38/38669.png" alt="">Linkedin</a>
                            </li>
                        </ul>
                    </div>
                    <div class="link-container">
                        <h4>Quick links</h4>
                        <ul>
                            <li>
                                <a href="/#Us">About Us</a>
                            </li>
                            <li>
                                <a href="/#Services">Services</a>
                            </li>
                            <li>
                                <a href="/#Experience">Industry Experience</a>
                            </li>
                            <li>
                                <a href="privacy">Privacy Policy</a>
                            </li>
                            <li>
                                <a href="terms">Terms of Service</a>
                            </li>
                        </ul>
                    </div>
                    <!-- <div class="link-container">
            <h4>Support</h4>
            <ul>
                <li>
                    <a href="#">Privacy Policy</a>
                </li>
                <li>
                    <a href="#">Terms of Use</a>
                </li>
            </ul>
        </div> -->
                </footer>
                <script src='https://code.jquery.com/jquery-2.2.4.min.js'></script>
                <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js'></script>
                <script src="https://kit.fontawesome.com/118aeed2d2.js" crossorigin="anonymous"></script>
                <script src="Stylesheets/main.js"></script>

</body>

</html>